.git
.gitignore
.gitattributes
.dockerignore
.gitlab-ci.yml
.hadolint.yml
README.md
LICENSE
LICENSE.md
EUCAIM HARBOR.md
EUCAIM Software Packaging Guide v1.2.pdf
Materials/
Pats/
examples/
Outputs/
test_input_nii/
test_output_nii/
test_input_dcm/
test_output_dcm/
tests/
LOCAL_TESTING_WINDOWS_CPU.md
.github/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
env/
nnUnet_paths/nnUNet_raw/
nnUnet_paths/nnUNet_preprocessed/
