torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
nnunetv2==2.2.1
acvl-utils==0.2
blosc2==2.5.1
MedProIO==0.1.1
tensorflow==2.15.0
protobuf>=3.20.3,<5
numpy==1.26.2
SimpleITK==2.3.1
pydicom==2.4.4
python-dateutil==2.8.2
six==1.16.0
packaging==23.2
